<!-- extends base -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center align-items-center ">
    <h2 style="font-family: 'Parkinsans'; font-weight:bold;">__experience__</h2>
</div>

<div class="container mt-4">
    {% for experience in experiences %}
    <div class="row mb-4">
        <div class="col-md-6 d-flex align-items-center">
            <!-- Image Section -->
            <img src="{{ experience.company_logo.url }}" class="img-fluid rounded" alt="Project Image">
        </div>
        <div class="col-md-6">
            <!-- Content Section -->
            <div class="card-body">
                <h3 class="card-title" style="font-family: 'Poppins'; font-weight:bold;">{{experience.company_name }}
                    <a class='ml-1' href="{{ experience.link }}" target="_blank"><i
                            class="fa-solid fa-arrow-up-right-from-square" style="color: #387f39;"></i></a>
                </h3>
                <h5 class="card-title" style="font-family: 'Parkinsans'">{{experience.job_title }}</h5>
                <p class="card-text text-justify" style="font-family: 'Parkinsans';">{{ experience.description }}</p>
                <p class="card-text">
                    <strong>Duration :</strong> <em>{{experience.start_date}} to {{experience.end_date}}</em>
                    {% for tag in project.tags.all %}
                    <span class="badge" style="background-color: rgb(56, 127, 57);">{{ tag.name }}</span>
                    {% endfor %}
                </p>
                <div class="d-flex">
                    <a href="{{ experience.certificate.url }}" class="btn me-2" style="border: 2px solid #387f39;"
                        download="{{ experience.certificate.name }}">
                        <i class="fa-solid fa-file custom-outline"
                            style="color: #387f39; font-size:20px; transition: all 0.3s ease-in-out;"></i>
                        <span class="ml-1"
                            style="font-weight: bold; font-family: 'Poppins'; font-size: 20px;">Certificate</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>


{% endblock content %}